@font-face {
  font-family: 'pixelfont';
  src: url('resource/PixeloidSans-lxa3y.ttf') format('woff');
}

body{
    font-family: pixelfont;
    width: 100vh 100vw;
    padding: 0;
    margin: 0;
}

#main_container{
    width: 100%;
    height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#time{
    text-align: center;
}

#border{
    width: 75%;
    height: 75%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/resource/bahlil.jpg);
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
